<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.virtue.mapper.UserMapper">


    <select id="findByPage" resultType="com.virtue.pojo.User">
    SELECT u.username,u.email,u.tel,u.gender,u.jobid,u.is_valid,d.dename FROM user u INNER JOIN department d ON d.deid=u.deid ${ew.customSqlSegment}
    </select>
</mapper>